*sqlite3
log
deploy
.parcel-cache
.fusebox
.cache
.DS_Store
GenCopy
copyjs.js
public/parcel/build/.cache
public/.cache
public/rollup/build/bundle.css
public/.fusebox
node_modules/
nbproject
public/fusebox/appl/.cache
public/.cache
public/.editorconfig
public/dev-bundle.js
public/dev-bundle.css
public/package_1.json
public/*.dat
.metals
dist/
/dist2/
dist_test/
public/webpack/test/e2e/reports
public/webpack/build/GulpfileX.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
outdated.dat

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
