#welcome,div .hello {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  text-align: center;
  font-weight: normal;
  margin-top: 30px;
}
#welcome h1, h2 {
  font-weight: normal;
}
#welcome ul {
  list-style-type: none;
  padding: 0;
}
#welcome li {
  display: inline-block;
  margin: 0 10px;
}
#welcome a {
  color: #42b983;
}

